dialog {
  padding: 0;
  border: none;
  border-radius: 10px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.name-project-form {
  width: 550px;
  border: 1px solid #dee2e6;

  display: grid;
  grid-template-rows: 60px 100px 60px;
  align-items: center;
}

.modal-header {
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #dee2e6;
}


.modal-label {
  font-size: 16px;
  margin-inline: 20px;
}

.form-input {
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid #dee2e6;
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
}


.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding-inline: 20px;
}

.modal-add-button, .modal-cancel-button {
  border-radius: 5px;
  font-size: 20px;
  padding: 8px 15px;
  color: white;
  height: max-content;
  border: 1px solid #dee2e6;
}

.modal-add-button {
  background: var(--priority-color-low);
}

.modal-cancel-button {
  background: var(--priority-color-high);
}
