@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'matemasieregular';
  src: url('static/matemasie-regular-webfont.woff2') format('woff2'),
  url('static/matemasie-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --priority-color-high: #FA5252;
  --priority-color-normal: #FCC419;
  --priority-color-low: #94D82D;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;

  display: grid;
  grid-template-areas:
            "header header"
            "sidebar main"
            "footer footer";
  grid-template-columns: 400px 1fr;
  grid-template-rows: 100px 1fr 50px;
  overflow: hidden;
}

#header {
  background: #af7eeb;
  grid-area: header;

  padding-left: 50px;
  display: flex;
  gap: 25px;
  align-items: center;

  font-family: "matemasieregular", sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #e3e9ff;
}

#header > div {
  margin-top: 10px;
}


#sidebar {
  background: #e3e9ff;
  grid-area: sidebar;

  display: flex;
  flex-direction: column;
  padding: 20px 10px 20px 10px;

  gap: 30px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(175, 126, 235, 0.5);
  border-radius: 5px;
}


#sidebar > div {
  display: flex;
  flex-direction: column;
}


#sidebar h1 {
  margin: 0 0 5px 10px;
}

.tab {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
}

.tab:hover {
  background: #d4ddfe;
}

.tab.selected-tab {
  background: #b2c3ff;
}

#sidebar img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

#sidebar span {
  font-size: 25px;
}

.new-project {
  justify-content: center;
  margin-top: 10px;
}

#main {
  grid-area: main;
  margin: 20px 50px 20px 50px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow-y: auto;
}

#main-header {
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  align-items: center;
  justify-items: center;
}

#main-header > h1 {
  font-size: 40px;
}

#main-header > img, .task-card > img {
  height: 30px;
  width: 30px;
}

.task-card {
  display: grid;
  grid-template-areas:
            "stripe . . . ."
            "stripe title btn1 btn2 btn3"
            "stripe deadline btn1 btn2 btn3"
            "stripe description . . ."
            "stripe . . . .";
  grid-template-columns: 5px 1fr 30px 30px 30px;
  grid-template-rows: 5px max-content max-content max-content 5px;

  column-gap: 10px;
  border-radius: 10px;
  border-top: 3px solid #e3e9ff;
  border-right: 3px solid #e3e9ff;
  border-bottom: 3px solid #e3e9ff;
  padding-right: 20px;
}

.task-name {
  grid-area: title;
  font-weight: bold;
  font-size: 30px;
}

.task-completed::after {
  content: url('./static/icons/tick-icon.svg');
  margin-left: 5px;
}

.task-deadline {
  grid-area: deadline;
  font-size: 0.8rem;
  color: darkgray;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task-deadline::before {
  content: url('./static/icons/alarm-clock-icon.svg');
  margin-right: 5px;
}

.task-description {
  grid-area: description;
}

.task-btn1 {
  grid-area: btn1;
  align-self: center;
}

.task-btn2 {
  grid-area: btn2;
  align-self: center;
}

.task-btn3 {
  grid-area: btn3;
  align-self: center;
}

.stripe {
  grid-area: stripe;
  border-radius: 10px;
}

.priority-high {
  background: var(--priority-color-high);
}

.priority-normal {
  background: var(--priority-color-normal);
}

.priority-low {
  background: var(--priority-color-low);
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  background: #af7eeb;
  grid-area: footer;
}
