#header {
  background: #af7eeb;
  grid-area: header;

  padding-inline: 50px;
  display: flex;
  justify-content: space-between;

  font-family: "matemasieregular", sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #e3e9ff;
}

#header > div {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-top: 10px;
}

#header button {
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  width: 120px;
  background: #e3e9ff;
}
